<section id="scope">
  <div class="container-fluid">
    <div class="container-md d-flex box">
      <div class="scope fw-700">
        <h4>Scope/Workspace</h4>
      </div>
      <div class="holder">
        <h1>Flowmono - Discovery Phase</h1>
        <p>
          One of the major lessons from the pandemic era is that business
          process configuration is a key requirement for ensuring business
          continuity.
          <br />
          In the current African business landscape, business owners express
          their frustrations over the rising rate of developer attritions and
          the shortage of developers that can help them design and develop
          business process automation. Most of the available process management
          solutions are built around an expensive budget, complex architecture,
          and take time to implement.
        </p>

        <h1>Flowmono 1.0</h1>
        <p>
          One of the major lessons from the pandemic era is that business
          process configuration is a key requirement for ensuring business
          continuity.
          <br />
          In the current African business landscape, business owners express
          their frustrations over the rising rate of developer attritions and
          the shortage of developers that can help them design and develop
          business process automation. Most of the available process management
          solutions are built around an expensive budget, complex architecture,
          and take time to implement.
        </p>
        <div class="hold">
          <h1>Flowmono 2.0</h1>
          <p class="back">Coming soon</p>
        </div>
        <p>
          Flowmono makes contract and agreement processes easier. Individuals
          and freelancers, small and medium enterprises, and major corporations
          looking to reduce paperwork and move to a paperless process can
          benefit from the solution.
          <br />
          According to an Onespan report, financial institutions that
          implemented electronic signatures saw a 92% reduction in scanning
          errors and missing files by 66%.To reinforce the confidence and safety
          of users’ data, Flowmono uses encryption technology to protect user
          data.
        </p>
      </div>
    </div>
  </div>
</section>
