<section id="other">
  <div class="container">
    <div class="container-md hold">
      <div class="heading">
        <h1 class="fw-700 other">Other</h1>
        <div class="expand-icon-box">
          <img src="assets/images/expand.png" alt="" />
        </div>
      </div>
      <div class="d-flex details">
        <div class="box">
          <img class="img" src="assets/images/flowmono.png" alt="" />
          <h6>SAAS</h6>
          <h3>Flowmono - Electronic Signing & Process Management.</h3>
          <p>
            With flowmono, it is easier to speed up your recruitment process,
            sign and manage all employee forms, contracts and documents in
            digital format.
          </p>
        </div>

        <div class="box">
          <img class="img" src="assets/images/flowmono.png" alt="" />
          <h6>ENTERPRISE SOLUTION</h6>
          <h3>Vybecash - Digital Banking Solution</h3>
          <p>
            The software application is designed to simplify the process of
            calculating various types of fees, including legal, processing, and
            government fees for the applicants ...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
