<section id="blog">
  <div class="container">
    <div class="container-md hold">
      <div class="heading">
        <h1 class="fw-700 recent">Recent Blogs</h1>
        <div class="expand-icon-box">
          <img src="assets/images/expand.png" alt="" />
        </div>
      </div>
      <div class="d-flex details">
        <div class="box">
          <img class="img" src="assets/images/pic2.png" alt="" />
          <h3>Why product thinking is a big thing in UX...</h3>
          <p>
            We look at the importance of product thinking in UX design,
            highlighting that successful products must solve real user problems
            and provide meaningful solutions.
          </p>
          <a href="/"
            >READ ARTICLE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="6"
              viewBox="0 0 35 6"
              fill="none"
            >
              <path
                d="M34.2828 3.28284C34.4391 3.12663 34.4391 2.87337 34.2828 2.71716L31.7373 0.171573C31.581 0.0153632 31.3278 0.0153632 31.1716 0.171573C31.0154 0.327783 31.0154 0.581048 31.1716 0.737258L33.4343 3L31.1716 5.26274C31.0154 5.41895 31.0154 5.67222 31.1716 5.82843C31.3278 5.98464 31.581 5.98464 31.7373 5.82843L34.2828 3.28284ZM0 3.4H34V2.6H0V3.4Z"
                fill="#4F3CCD"
              />
            </svg>
          </a>
        </div>

        <div class="box">
          <img class="img" src="assets/images/pic3.png" alt="" />
          <h3>Agile methodology : Driving successful s...</h3>
          <p>
            This article looks at the benefits of adopting Agile methodology in
            software development, emphasizing its flexibility, collaboration,
            and customer-centric approach.
          </p>
          <a href="/"
            >READ ARTICLE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="6"
              viewBox="0 0 35 6"
              fill="none"
            >
              <path
                d="M34.2828 3.28284C34.4391 3.12663 34.4391 2.87337 34.2828 2.71716L31.7373 0.171573C31.581 0.0153632 31.3278 0.0153632 31.1716 0.171573C31.0154 0.327783 31.0154 0.581048 31.1716 0.737258L33.4343 3L31.1716 5.26274C31.0154 5.41895 31.0154 5.67222 31.1716 5.82843C31.3278 5.98464 31.581 5.98464 31.7373 5.82843L34.2828 3.28284ZM0 3.4H34V2.6H0V3.4Z"
                fill="#4F3CCD"
              />
            </svg>
          </a>
        </div>
        <div class="box">
          <img class="img" src="assets/images/pic4.png" alt="" />
          <h3>Data privacy in the data age : Balancing ...</h3>
          <p>
            This article looks at the significance of data privacy in the
            digital age and explore the need to strike a balance between
            innovation and personal security.
          </p>
          <a href="/"
            >READ ARTICLE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="6"
              viewBox="0 0 35 6"
              fill="none"
            >
              <path
                d="M34.2828 3.28284C34.4391 3.12663 34.4391 2.87337 34.2828 2.71716L31.7373 0.171573C31.581 0.0153632 31.3278 0.0153632 31.1716 0.171573C31.0154 0.327783 31.0154 0.581048 31.1716 0.737258L33.4343 3L31.1716 5.26274C31.0154 5.41895 31.0154 5.67222 31.1716 5.82843C31.3278 5.98464 31.581 5.98464 31.7373 5.82843L34.2828 3.28284ZM0 3.4H34V2.6H0V3.4Z"
                fill="#4F3CCD"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
