<section id="optiva">
  <div class="container-fluid home-top mb-0">
    <div class="blue">
      <h1 class="fw-500">Optiva Capital</h1>
      <h5 class="fw-400 wealth">Immigration investment & wealth management</h5>
      <div class="boxes">
        <p class="p" style="background-color: #dedede">Migration</p>
        <p class="p" style="background-color: #dedede">Web app</p>
        <p class="p" style="background-color: #e3d6f6">Fintech</p>
        <p class="p" style="background-color: #fee6fa">Mobile App</p>
      </div>
      <img src="assets/images/laptop.png" alt="" style="padding-top: 1rem" />
    </div>
  </div>
  <app-optiva-overview></app-optiva-overview>
  <app-optiva-scope></app-optiva-scope>
  <app-optiva-designs></app-optiva-designs>
  <app-optiva-results></app-optiva-results>
  <app-optiva-other></app-optiva-other>
</section>
