<section id="performance">
  <div class="container-fluid">
    <div class="container-md details">
      <div class="detail-1 d-flex inside">
        <h3>Our performance over time</h3>
      </div>

      <span class="line"></span>

      <div class="d-flex box">
        <div class="detail inside">
          <h1>50+</h1>
          <p>sucessfully executed projects</p>
        </div>
        <div class="detail inside">
          <h1>200+</h1>
          <p>Staff strenght contract and full time</p>
        </div>
        <div class="detail inside">
          <h1>30+</h1>
          <p>Tech partners in major sectors globally</p>
        </div>
      </div>
    </div>
  </div>
</section>
