<section id="scope">
  <div class="container-fluid">
    <div class="container-md d-flex box">
      <div class="scope fw-700">
        <h4>Scope/Workspace</h4>
      </div>
      <div class="holder">
        <h1>Research</h1>
        <p class="research">
          We ran an indepth research on the product before diving into the
          design steps. We outlined issues we might encounter and procured
          solutions to those issues to develop a winning user experience.
        </p>
        <div class="hold">
          <div class="inside">
            <p class="p">Discovery</p>
            <div class="content">
              <p class="p">Features List</p>
              <p class="p">User Journey Map</p>
              <p class="p">Userflow</p>
            </div>
            <div class="content">
              <p class="p">Visuals</p>
              <p class="p">Prototype</p>
            </div>
            <div class="content">
              <p class="p">Development</p>
              <p class="p">Testing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
