<section id="design">
  <div class="container">
    <div class="container-md d-flex box">
      <div>
        <h4>
          Designs &
          <br />
          Iterations
        </h4>
        <button class="btn wf-btn-md wf-btn-xl fw-700">See Live</button>
      </div>
      <div class="features">
        <h1>Some features we implemented</h1>

        <h4>1. An intuitive dashboard</h4>
        <p>
          One of the major lessons from the pandemic era is that business
          process configuration is a key requirement for ensuring business
          continuity.
          <br />
          In the current African business landscape, business owners express
          their frustrations over the rising rate of developer attritions and
          the shortage of developers that can help them design and develop
          business process automation. Most of the available process management
          solutions are built around an expensive budget, complex architecture,
          and take time to implement.
        </p>
        <img class="img" src="assets/images/graph1.png" alt="" />

        <h4>2. Work request creation and review</h4>
        <p>
          One of the major lessons from the pandemic era is that business
          process configuration is a key requirement for ensuring business
          continuity.
          <br />
          In the current African business landscape, business owners express
          their frustrations over the rising rate of developer attritions and
          the shortage of developers that can help them design and develop
          business process automation. Most of the available process management
          solutions are built around an expensive budget, complex architecture,
          and take time to implement.
        </p>
        <img class="img" src="assets/images/graph2.png" alt="" />
        <div class="images">
          <img src="assets/images/small1.png" alt="" />
          <img class="imgs" src="assets/images/small2.png" alt="" />
          <img class="imgs" src="assets/images/small3.png" alt="" />
          <img class="imgs" src="assets/images/small4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
