<section id="vybecash">
  <div class="container-fluid home-top mb-0">
    <div class="yellow">
      <h1 class="wf-heading-1 fw-500">Vybecash</h1>
      <h5 class="fw-400">Manage your wallet and transactions.</h5>
      <div class="boxes">
        <p class="p" style="background-color: #fee6fa">Mobile App</p>
        <p class="p" style="background-color: #e3d6f6">Fintech</p>
        <p class="p" style="background-color: #dedede">Finance</p>
      </div>
      <img src="assets/images/phone.png" alt="" style="padding-top: 1rem" />
    </div>
  </div>
  <div class="after"></div>
  <app-vybecash-overview></app-vybecash-overview>
  <app-vybecash-scope></app-vybecash-scope>
  <app-vybecash-designs></app-vybecash-designs>
  <app-vybecash-results></app-vybecash-results>
  <app-vybecash-other></app-vybecash-other>
</section>
