@use '/src/app/@core/styles/abstracts/media-query' as *;

#footer {
  width: 100%;
  background-color: var(--wf-accent-color-950);
  height: 70.94rem;
  color: var(--wf-white);
  justify-content: center;

  @include wf-media-query-max(wf-md) {
    height: 101rem;
    // margin-bottom: 2rem;
  }

  .box {
    // display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding-left: 3rem;
  }

  a {
    text-decoration: none;
    color: var(--wf-white);
  }

  a:hover {
    font-size: 1.1rem;
  }

  .inside {
    // width: 100%;
    width: 15rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .support {
    padding-left: 2rem;

    @include wf-media-query-max(wf-md) {
      padding-left: 0;
    }
  }

  p {
    width: 100%;
  }

  .hold {
    justify-content: space-between;

    @include wf-media-query-max(wf-md) {
      flex-direction: column;
    }
  }
}
