<section id="overview">
  <div class="container">
    <div class="container-md box d-flex">
      <div>
        <h4>Overview</h4>
        <button class="btn wf-btn-md wf-btn-xl">Let's Talk</button>
      </div>
      <div class="holder">
        <div class="par" style="display: inline-flex">
          <p class="p">Migration</p>
          <p class="p">Web app</p>
          <p class="p">Fintech</p>
          <p class="p">Mobile App</p>
        </div>
        <h1 class="h1">
          Your one-stop shop for all immigration, residency & citizenship
          consulting services!
        </h1>
        <div class="d-flex back">
          <div>
            <h5 class="fw-400">Development Tools</h5>
            <p>React, Next, Vue</p>
          </div>
          <div>
            <h5 class="fw-400">Design Tools</h5>
            <p>Figma, Jira</p>
          </div>
          <div>
            <h5 class="fw-400">Duration</h5>
            <p>May 2021 - Ongoing</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-md box-1 d-flex">
      <div>
        <h4>
          Problem & <br />
          Solution
        </h4>
      </div>
      <div>
        <h1>Problem Statement</h1>
        <p class="p1">
          The traditional approach of managing migration fees using spreadsheets
          or paper-based forms can be tedious, error-prone and may not allow for
          easy tracking of payments. As a result, many businesses are seeking an
          efficient and automated system to manage migration fees.
          <br />
        </p>

        <h1>Solution</h1>
        <p class="p1">
          With Optiva Capital's software application, employers can easily add
          applicants to the applicants register and generate a quote for their
          fees. The system also issues invoices to applicants in instalments,
          making it easier for them to manage their payments. Once payment is
          received, the system generates a receipt, which can be used for future
          reference.
        </p>
      </div>
    </div>
  </div>
</section>
