<section id="scope">
  <div class="container-fluid">
    <div class="container-md d-flex box">
      <div class="scope fw-700">
        <h4>Scope/Workspace</h4>
      </div>
      <div class="holder">
        <h1>Vybecash 1.0</h1>
        <p>
          VybeCash 1.0 was built to understand the importance of streamlined and
          efficient financial processes, particularly in the finance industry.
          <br />
          Business continuity and individual adaptability are paramount for
          sustained success. To address the challenges faced by African
          businesses, Vybecash aims to provide a user-friendly, cost-effective,
          and agile solution for automating financial processes.
        </p>

        <h1>Vybecash Merchant</h1>
        <p>
          Business owners form a core of business operation which is why we
          decided to build a variation of an app that can alleviate their
          frustrations by harnessing our intuitive fintech app.
          <br />
          Our platform offers simplified financial process management tools that
          empower businesses to make transactions seamlessly. 
        </p>
        <div class="hold">
          <h1>Vybecash 2.0</h1>
          <p class="back">Coming soon</p>
        </div>
        <p>
          Vybecash needed to incorporate user-friendly design principles and
          intuitive interfaces tailored to finance terminologies. This approach
          allows businesses and individuals to easily navigate and customize
          their financial processes without extensive technical knowledge.
          <br />
          By democratizing the financial experience, Vybecash enables
          individuals and businesses of all sizes to streamline their financial
          operations, improve efficiency, and enhance their overall business
          continuity. 
        </p>
      </div>
    </div>
  </div>
</section>
