<section id="homepage">
  <app-home-header></app-home-header>
  <div class="container-fluid home-top mb-0">
    <div class="container-md d-flex flex-column justify-content-center h-100">
      <div class="heading fw-500">
        <h1>You think it,</h1>
        <h2>We build it.</h2>
      </div>
      <div class="para wf-para-3 fw-400 pb-3">
        Let's help you at every stage of your product development lifecycle.
        Conquer the market with a truly invested software technology team by
        your side
      </div>
      <div>
        <button class="btn wf-btn-md wf-btn-xl">Let's Talk</button>
      </div>

      <div class="arrow-container">
        <p class="wf-para-3 fw-700 service-explore">
          Explore all Services<span class="arrow"></span>
        </p>
      </div>
    </div>
  </div>
  <app-home-services></app-home-services>
  <app-home-performance></app-home-performance>
  <app-home-enterprise></app-home-enterprise>
  <app-home-client></app-home-client>
  <app-home-blog></app-home-blog>
  <app-home-about></app-home-about>
</section>
