/******* Custom Palette *******/
$mat-wf-primary-map: (
  50: #eae7ff,
  100: #cac2ff,
  200: #a799ff,
  300: #8370ff,
  400: #6952ff,
  500: #4e33ff,
  600: #472eff,
  700: #3d27ff,
  800: #3520ff,
  900: #2514ff,
  A100: #ffffff,
  A200: #fbfbff,
  A400: #cbc8ff,
  A700: #b3aeff,
  contrast: (
    50: #040101,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-wf-accent-map: (
  50: #ffe7ef,
  100: #ffc2d7,
  200: #ff99bd,
  300: #fe70a2,
  400: #fe528e,
  500: #fe337a,
  600: #fe2e72,
  700: #fe2767,
  800: #fe205d,
  900: #fd144a,
  A100: #ffffff,
  A200: #fff9fa,
  A400: #ffc6d1,
  A700: #ffadbd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-wf-warn-map: (
  50: #fde0e4,
  100: #fab3bc,
  200: #f78090,
  300: #f34d63,
  400: #f12641,
  500: #ee0020,
  600: #ec001c,
  700: #e90018,
  800: #e70013,
  900: #e2000b,
  A100: #ffffff,
  A200: #ffd6d7,
  A400: #ffa3a5,
  A700: #ff8a8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/******************************/

/***********Theme 1************/
$wf-primary: #4e33ff;
$wf-primary-50: #f6f5ff;
$wf-primary-100: #dcd6ff;
$wf-primary-200: #b8adff;
$wf-primary-300: #9585ff;
$wf-primary-400: #715cff;
$wf-primary-600: #7433d3; //in use
$wf-primary-700: #1900bf;
$wf-primary-800: #0f0073;
$wf-primary-900: #0e061b; //in use

$wf-primary-transparent: transparentize($wf-primary, 0.95);

$wf-accent: #fe337a;
$wf-accent-50: #fff5f8;
$wf-accent-100: #ffe0eb;
$wf-accent-200: #ffc2d7;
$wf-accent-300: #ff99bd;
$wf-accent-400: #4f3ccd;
$wf-accent-600: #8247d7; //in use
$wf-accent-700: #7433d3; //in use
$wf-accent-800: #aa1d9b; //in use
$wf-accent-900: #532c4c; //in use
$wf-accent-950: #0e0e0e; //in use

$wf-accent-transparent: transparentize($wf-accent, 0.95);
/******************************/

$wf-success: #10b981;
$wf-success-50: #ecfdf5;

$wf-warning: #f59e0b;
$wf-warning-50: #fffbeb;

$wf-error: #ef4444;
$wf-error-50: #fef2f2;

$wf-info: #65b3fb;
$wf-info-50: #65b3fb;

$wf-white: #ffffff;
$wf-black: #222222;

$wf-neutral: #64748b;
$wf-neutral-50: #f7f8f9;
$wf-neutral-100: #f4f4f4; //in use
$wf-neutral-200: #d0d5dd;
$wf-neutral-300: #b8c0cc;
$wf-neutral-400: #a0abbb;
$wf-neutral-600: #4b5768;
$wf-neutral-700: #58556a; //in use
$wf-neutral-800: #191d23;
$wf-neutral-900: #0d0f11;

$themed-colors: (
  --wf-theme: (
    --wf-primary-color: (
      default: $wf-primary,
      50: $wf-primary-50,
      100: $wf-primary-100,
      200: $wf-primary-200,
      300: $wf-primary-300,
      400: $wf-primary-400,
      600: $wf-primary-600,
      700: $wf-primary-700,
      800: $wf-primary-800,
      900: $wf-primary-900,
    ),
    --wf-primary-color-transparent: (
      default: $wf-primary-transparent,
    ),
    --wf-accent-color: (
      default: $wf-accent,
      50: $wf-accent-50,
      100: $wf-accent-100,
      200: $wf-accent-200,
      300: $wf-accent-300,
      400: $wf-accent-400,
      600: $wf-accent-600,
      700: $wf-accent-700,
      800: $wf-accent-800,
      900: $wf-accent-900,
      950: $wf-accent-950,
    ),
    --wf-accent-color-transparent: (
      default: $wf-accent-transparent,
    ),
  ),
);

$general-colors: (
  --wf-white: (
    default: $wf-white,
  ),
  --wf-black: (
    default: $wf-black,
  ),
  --wf-neutral: (
    default: $wf-neutral,
    50: $wf-neutral-50,
    100: $wf-neutral-100,
    200: $wf-neutral-200,
    300: $wf-neutral-300,
    400: $wf-neutral-400,
    600: $wf-neutral-600,
    700: $wf-neutral-700,
    800: $wf-neutral-800,
    900: $wf-neutral-900,
  ),
  --wf-success: (
    default: $wf-success,
    50: $wf-success-50,
  ),
  --wf-warning: (
    default: $wf-warning,
    50: $wf-warning-50,
  ),
  --wf-error: (
    default: $wf-error,
    50: $wf-error-50,
  ),
  --wf-info: (
    default: $wf-info,
    50: $wf-info-50,
  ),
);
