<section id="overview">
  <div class="container">
    <div class="container-md box d-flex">
      <div>
        <h4>Overview</h4>
        <button class="btn wf-btn-md wf-btn-xl">Let's Talk</button>
      </div>
      <div class="holder">
        <div class="par">
          <p class="p">Websites</p>
          <p class="p">Web applications</p>
          <p class="p">SAAS</p>
        </div>
        <h1 class="h1">
          Vybecash is a platform that enhances users' digital payment
          experiences with financial accounts, transfers, bill payments, and
          savings services. 
        </h1>
        <div class="d-flex back">
          <div>
            <h3>Development Tools</h3>
            <p>React, Next, Vue</p>
          </div>
          <div>
            <h3>Design Tools</h3>
            <p>Figma, Jira</p>
          </div>
          <div>
            <h3>Duration</h3>
            <p>May 2021 - Ongoing</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-md box-1 d-flex">
      <div>
        <h4>
          Problem & <br />
          Solution
        </h4>
      </div>
      <div>
        <h1>Problem Statement</h1>
        <p class="p1">
          Traditional financial transactions and banking services often prove
          cumbersome and time-consuming. Individuals, businesses, and
          organizations face numerous challenges, including slow money
          transfers, lack of transparency, security concerns, and limited access
          to modern financial tools.
          <br />
          Additionally, the absence of user-friendly platforms often hinders
          people from making informed financial decisions and optimizing their
          funds effectively. 
        </p>
        <br />
        <h1>Solution</h1>
        <p class="p1">
          The need of the hour is a dynamic application that addresses these
          pain points and revolutionizes the way users manage their finances.
          <br />
          This concern made the client identify the need for a financial
          application that allows users to run digital banking and payment
          processing while also growing their financial portfolio through
          various savings plans.
        </p>
      </div>
    </div>
  </div>
</section>
