<section id="enterprise">
  <div class="container-fluid hold">
    <div class="container-md">
      <div class="wf-heading-5 fw-600 startup">
        We are trusted by enterprises and startups like:
      </div>
      <div class="d-flex images">
        <img src="assets/images/Wema.png" alt="" />
        <img src="assets/images/Affrexim.png" alt="" />
        <img src="assets/images/Optiva-logo.png" alt="" />
        <img src="assets/images/Sterling.png" alt="v" />
        <img src="assets/images/Zenith.png" alt="v" />
        <img src="assets/images/LeatherBack.png" alt="v" />
        <img src="assets/images/Anelloh.png" alt="v" />
      </div>
    </div>
  </div>
</section>
