<section id="afrexim">
  <div class="container-fluid home-top mb-0">
    <div class="green">
      <h1 class="fw-500">Afrexim</h1>
      <h5 class="fw-400">Vendor management portal</h5>
      <div class="boxes">
        <p class="p p1">Websites</p>
        <p class="p p2">Web applications</p>
        <p class="p p3">SAAS</p>
      </div>
      <img src="assets/images/graph.png" alt="" />
    </div>
  </div>
  <app-afrexim-overview></app-afrexim-overview>
  <app-afrexim-scope></app-afrexim-scope>
  <app-afrexim-designs></app-afrexim-designs>
  <app-afrexim-results></app-afrexim-results>
  <app-afrexim-other></app-afrexim-other>
</section>
