<section id="client">
  <div class="container-fluid hold mb-0">
    <div class="d-flex flex-column justify-content-center details">
      <div>
        <h1 class="fw-700">What our clients say</h1>
        <p class="para-3 fw-400 text">
          Our team of expert developers, designers, and data analysts are
          dedicated to providing our clients with cutting-edge technology that
          drives success and growth.
        </p>
      </div>
      <div class="remark">
        <p class="para-3 fw-400 remark-text">
          “The custom software solution built by Revent has transformed the way
          we do business. It has improved our productivity, reduced costs, and
          enabled us to offer better services to our customers. The
          user-friendly interface and intuitive design make it easy for our
          employees to use, and the software has been highly reliable since its
          deployment”
        </p>
        <div class="pic">
          <span class="vertical-align-center">
            <img src="assets/images/arrow-circle-left.png" alt="" />
          </span>
          <div class="sterling">
            <span><img src="assets/images/sterling-head.png" alt="" /></span>
            <span><p class="name wf-text-white">Owonikoko Adisa</p></span>
            <span
              ><p class="name wf-text-white">
                Business Head - Sterling Bank
              </p></span
            >
          </div>
          <span>
            <img src="assets/images/arrow-circle-right.png" alt="" />
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
