<section id="design">
  <div class="container">
    <div class="container-md d-flex box">
      <div>
        <h4>
          Designs &
          <br />
          Iterations
        </h4>
        <button class="btn wf-btn-md wf-btn-xl fw-700">See Live</button>
      </div>
      <div class="features">
        <h1>Some features we implemented</h1>

        <h4>1. Receive payment using QR Code & Link</h4>
        <p>
          QR code payments are made via the customer's smartphone when they scan
          the code. Once saved, they are taken to a payment page where they will
          have the option to enter their chosen payment details or use a mobile
          payment solution to complete the transaction.
          <br /><br />
          A vendor can also scan a QR code on their customer's phone. This code
          is provided by their bank or payment app and will contain their card
          details, which the business can use to finalize the transaction.
        </p>
        <img class="img" src="assets/images/QR-scanner.png" alt="" />
        <div class="images">
          <img src="assets/images/QR scan.png" alt="" />
          <img class="imgs" src="assets/images/QR-code.png" alt="" />
        </div>
        <h4>2. Payment Link</h4>
        <p>
          The Payment Link Integration known as Vybelink is a groundbreaking
          addition to Vybecash, designed to revolutionize the way users conduct
          transactions. With this innovative feature, Vybecash introduces a
          simple and secure method for businesses, freelancers, and individuals
          to receive payments effortlessly. The Payment Link Integration
          empowers VybeCash users to generate custom payment links and share
          them via various communication channels, offering a versatile and
          convenient solution for collecting payments from customers or clients.
        </p>
        <img class="img" src="assets/images/Pay-link.png" alt="" />
      </div>
    </div>
  </div>
</section>
