<section id="homeServices">
  <div class="container-fluid">
    <div class="container-md content">
      <div>
        <h1>Software Development</h1>
        <p>
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1153"
          height="2"
          viewBox="0 0 1153 2"
          fill="none"
        >
          <path
            d="M0 2H1153"
            stroke="#0E0E0E"
            stroke-width="4"
            stroke-linecap="square"
          />
        </svg>
      </div>
      <div>
        <h1>Product Development</h1>
        <p>
          Our product development expertise spans across various industries,
          enabling us to create intuitive, user-centric, and market-ready
          solutions that sets you apart.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1153"
          height="2"
          viewBox="0 0 1153 2"
          fill="none"
        >
          <path
            d="M0 2H1153"
            stroke="#0E0E0E"
            stroke-width="4"
            stroke-linecap="square"
          />
        </svg>
      </div>
      <div>
        <h1>Tech, Clients & Managed Services</h1>
        <p>
          Get comprehensive technology, clients and managed services to handle
          your IT needs efficiently. From proactive system monitoring to 24/7
          technical support.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1153"
          height="2"
          viewBox="0 0 1153 2"
          fill="none"
        >
          <path
            d="M0 2H1153"
            stroke="#0E0E0E"
            stroke-width="4"
            stroke-linecap="square"
          />
        </svg>
      </div>
      <div>
        <h1>Cloud & DevOps Engineering</h1>
        <p>
          We ensure seamless integration, scalability, and security, helping you
          optimize your infrastructure and accelerate your digital initiatives.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1153"
          height="2"
          viewBox="0 0 1153 2"
          fill="none"
        >
          <path
            d="M0 2H1153"
            stroke="#0E0E0E"
            stroke-width="4"
            stroke-linecap="square"
          />
        </svg>
      </div>
      <div>
        <h1>Developer & Talent Outsourcing</h1>
        <p>
          Get additional resources for a project or long-term collaboration. Our
          outsourcing services connect you with skilled professionals who
          seamlessly integrate into your organization.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1153"
          height="2"
          viewBox="0 0 1153 2"
          fill="none"
        >
          <path
            d="M0 2H1153"
            stroke="#0E0E0E"
            stroke-width="4"
            stroke-linecap="square"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
