<section id="overview">
  <div class="container">
    <div class="container-md box d-flex">
      <div>
        <h4>Overview</h4>
        <button class="btn wf-btn-md wf-btn-xl">Let's Talk</button>
      </div>
      <div class="holder">
        <div class="par" style="display: inline-flex">
          <p class="p p-1">Websites</p>
          <p class="p p2">Web applications</p>
          <p class="p p3">SAAS</p>
        </div>
        <h1 class="h1">
          Vendor management system (VMS) that allows employers to manage their
          vendors more effectively by automating the entire vendor management
          process. The system typically includes several modules such as vendor
          onboarding, registration, job assignment, approval, and invoicing.
        </h1>
        <div class="d-flex back">
          <div>
            <h5>Development Tools</h5>
            <p class="in">React, Next, Vue</p>
          </div>
          <div>
            <h5>Design Tools</h5>
            <p class="in">Figma, Jira</p>
          </div>
          <div>
            <h5>Duration</h5>
            <p class="in">May 2021 - Ongoing</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-md box-1 d-flex">
      <div>
        <h4>
          Problem & <br />
          Solution
        </h4>
      </div>
      <div>
        <h1>Problem Statement</h1>
        <p class="p1">
          Vendor management is a crucial part of any business, but it can also
          be time-consuming and challenging to manage. Many employers struggle
          to keep track of their vendors' information, including their
          credentials.
          <br />
          <br />
          The traditional approach of managing vendors using spreadsheets or
          paper-based forms can be tedious and prone to errors. As a result,
          many businesses are seeking an efficient and automated system to
          manage their vendors.
          <br />
          <br />
          Additionally, assigning jobs to vendors can be difficult without a
          centralized system. Employers may have to manually send emails or make
          phone calls to assign tasks and follow up on their progress. This can
          lead to delays and miscommunication, which can impact the overall
          efficiency of the organization
        </p>
        <br />
        <h1>Solution</h1>
        <p class="p1">
          With a VMS, employers can streamline their vendor management process,
          reduce costs, and improve overall efficiency.
          <br />
          <br />
          The vendor onboarding module allows employers to collect and verify
          vendor information, including company details, tax identification,
          insurance coverage, and credentials. Once the vendor is approved,
          employers can assign jobs to them, set deadlines, reminders and
          monitor progress. The invoicing module allows the Afrexim users to
          create invoices electronically for work completed, and the system can
          automatically generate receipts when payments are made.
        </p>
      </div>
    </div>
  </div>
</section>
